@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital@1&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.video_fundo {
  height: 60vh;
  padding: 0.4rem 0rem;
}

.titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.sem_imagem {

  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.fundo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(167, 11, 99), darkblue);
  height: 150vh;
  width: 100%;


}

.Home {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  font-size: 2rem;
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Home:hover {
  transform: scale(1.2);

}









@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 4;
  }
}

.animate-fade {
  animation: fade 6s linear infinite;
  /* Ajuste a duração conforme desejado */
}










@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}